@page
@model FreeSpace.Pages.Posts.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<FreeSpace.Models.ApplicationUser> SignInManager
@inject UserManager<FreeSpace.Models.ApplicationUser> UserManager
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Home";
}

<form method="post" enctype="multipart/form-data">

    <div class="row mb-1">
        <div>
            <div class="row g-2">

                <div class="col-5">
                    <label asp-for="Post.Title" class="form-label"></label>
                    <input asp-for="Post.Title" class="form-control form-control-sm" type="text"/>
                    <span asp-validation-for="Post.Title" class="text-danger"></span>
                </div>

                <div class="col-5 ms-auto">
                    <label asp-for="Post.Tag" class="form-label"></label>
                    <select asp-for="Post.Tag" asp-items="Model.Tags" 
                            class="form-control form-control-sm"></select>
                    <span asp-validation-for="Post.Tag" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div>
            <div class="mb-1">
                <label asp-for="Post.Description" class="control-label mb-2"></label>
                <textarea asp-for="Post.Description" class="form-control form-control" rows="5" type="text"></textarea>
                <span asp-validation-for="Post.Description" class="text-danger"></span>
            </div>
                <span asp-validation-for="Post.Description" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Post.Media" class="form-label"></label>
            <input asp-for="Post.Media" class="form-control form-control-sm" type="file" id="formFile">
        </div>
    </div>


    <div>
        <button type="submit" class="button-send mt-2">Postar</button>
    </div>

</form>

<hr class="hr"/>

@foreach(var i in Model.Posts)
{
    <div>
        <div class="d-flex gap-2 mb-2 align-items-center">
            <a class="text-decoration-none" asp-page="./Profile" asp-route-id="@i.UserId">
                <img src="@(!string.IsNullOrEmpty(i.User.PhotoPath) ? i.User.PhotoPath : "/userDefault.jpg")" alt="Image" class="rounded-circle me-2" style="max-width: 50px; max-height: 50px;"/>
            </a>

            <p><small><b>@i.User?.UserName</b></small></p>

            @{
                string classeTag = i.Tag switch
                {
                    "Geral" => "tag-geral",
                    "Erro" => "tag-erro",
                    "Dúvida" => "tag-duvida",
                    "Projeto Final" => "tag-projeto",
                    "Notícia" => "tag-noticia",
                    "Discussão" => "tag-discussao",
                    "Estudo" => "tag-estudo",
                    "Tutorial" => "tag-tutorial",
                    _          => "tag-geral"
                };
                string tagImgPath = i.Tag switch
                {
                    "Geral" => "/icon/tag-geral.png",
                    "Erro" => "/icon/tag-erro.png",
                    "Dúvida" => "/icon/tag-duvida.png",
                    "Projeto Final" => "/icon/tag-projeto.png",
                    "Notícia" => "/icon/tag-noticia.png",
                    "Discussão" => "/icon/tag-discussao.png",
                    "Estudo" => "/icon/tag-estudo.png",
                    "Tutorial" => "/icon/tag-tutorial.png",
                    _ => "/icon/tag-geral.png"
                };

            }

            <div class="d-flex tag @classeTag">
                <img src="@tagImgPath" alt="Image" class="tag-img"/>
                <span>@i.Tag</span>        
            </div>
            


            @if(i.CreatedDate.Date == DateTime.Today)
            {
                <div  class="col text-end text-muted">
                    <p><small>@i.CreatedDate.ToString("HH:mm")</small></P>
                </div>

            }
            else
            {   
                <div  class="col text-end text-muted">
                    <p><small>@i.CreatedDate.ToString("dd/MM/yy")</small></p>
                </div>

            }

        </div>
        <div class="fw-bold mb-2 fs-4">
            @Html.DisplayFor(p => i.Title)
        </div> 
        <div class="mb-3 fs-6">
            @Html.DisplayFor(p => i.Description)
        </div>
        @if(i.MediaPath != null)
        {
            var ext = System.IO.Path.GetExtension(i.MediaPath).ToLower();
            if (ext == ".jpg" || ext == ".jpeg" || ext == ".png" || ext == ".gif")
            {
                <div class="mb-3 d-flex justify-content-center align-items-center min-vh-10 bg-post img-fluid rounded-4">
                    <img src="@i.MediaPath" alt="Image" class="img-fluid rounded-3" style=" object-fit: contain; max-width: 650px; max-height: 600px; " />
                </div>
            }
            else if (ext == ".mp4" || ext == ".webm" || ext == ".ogg")
            {
                <div class="mb-3 d-flex justify-content-center align-items-center min-vh-10 bg-post img-fluid rounded-4">
                    <video controls width="650" height="600">
                        <source src="@i.MediaPath" type="video/mp4"/>
                     </video>
                </div>
            }
        }

        <div class="d-flex gap-2 mb-2 align-items-center">
            <form method="post" asp-page-handler="Like" asp-route-id="@i.Id">
                <button id="likeBtn" type="submit" class="btn p-0 border-0 bg-transparent">
                    <img src="/imgsLayout/heart-empty.png" style="width:25px; height:25px;" />
                </button>
            </form>
            <span>@i.Likes.Count()</span>
            <button id="commentBtn" type="button" onclick="toggleComment(@i.Id)" class="btn ms-3 p-0 border-0 bg-transparent">
                <img src="/imgsLayout/CommentWhite.png" style="width:25px; height:25px;" />
            </button>
            <span>@i.Comments.Count()</span>
            @if(i.UserId == UserManager.GetUserId(User) || User.IsInRole("Admin"))
            {
                <div class="col text-end">
                    <form method="post" asp-page-handler="Delete" asp-route-id="@i.Id">
                        <input type="submit" value="Excluir" class="button-delete"/>
                    </form> 
                </div>
            }

        </div>
                <div id="commentBox-@i.Id" style="display:none;" class="mt-3">

                @if (i.Comments != null && i.Comments.Any())
                {
                    @foreach (var c in i.Comments.OrderByDescending(c => c.CreatedDate))
                    {
                        <div class="mb-2">
                            <a class="text-decoration-none" asp-page="./Profile" asp-route-id="@c.UserId">
                                <img src="@(!string.IsNullOrEmpty(c.User.PhotoPath) ? c.User.PhotoPath : "/userDefault.jpg")" alt="Image" class="rounded-circle me-2" style="max-width: 50px; max-height: 50px;"/>
                            </a>
                            <span>@c.User?.UserName</span>
                            <div class="mt-2">@c.Text</div>
                            <small class="text-muted">@c.CreatedDate.ToString("g")</small>
                            <hr />
                        </div>
                    }
                }
                else
                {
                    <p class="text-muted">Sem comentários</p>
                }
                    
                    <form method="post" asp-page-handler="AddComment" asp-route-id="@i.Id">
                        <textarea name="CommentText" maxlength="300" style="resize:none; width:600px;" class="form-control col-3" rows="5" placeholder="Escreva seu comentário..."></textarea>
                        <button type="submit" class="button-send mt-3">Enviar</button>
                        <span asp-validation-for="CommentText" class="text-danger"></span>
                    </form>
                </div>

        </div>


    <hr class="hr"/>
}

                        
<script>
    function toggleComment(postId) {
        const box = document.getElementById("commentBox-" + postId);
        box.style.display = box.style.display === "none" ? "block" : "none";
    }
</script>
