@page
@model FreeSpace.Pages.Posts.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<FreeSpace.Models.ApplicationUser> SignInManager
@inject UserManager<FreeSpace.Models.ApplicationUser> UserManager
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Index";
}

<form method="post" enctype="multipart/form-data">

    <div class="row mb-1">
        <div class="col-6">
            <div class="d-flex gap-2 mb-1">
                <label asp-for="Post.Title" class="control-label me-3"></label>
                <input asp-for="Post.Title" class="form-control form-control-sm" type="text"/>
            </div>
                <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
        <div>
            <div class="mb-1">
                <label asp-for="Post.Description" class="control-label mb-2"></label>
                <textarea asp-for="Post.Description" class="form-control form-control" rows="5" type="text"></textarea>
            </div>
                <span asp-validation-for="Post.Description" class="text-danger"></span>
        </div>
        
        <div class="mb-2">
            <label asp-for="Post.Media" class="form-label"></label>
            <input asp-for="Post.Media" class="form-control form-control-sm" type="file" id="formFile">
        </div>
    </div>


    <div>
        <button type="submit" class="button-send mt-2">Postar</button>
    </div>

</form>

<hr />

@foreach(var i in Model.Posts)
{
    <div>
        <div class="d-flex gap-2 mb-2">
            <img src="@i.User?.PhotoPath" alt="Image" class="rounded-circle me-2" style="max-width: 50px; max-height: 50px;"/>
            <p><small>@i.User?.UserName</small></p>
            @if(i.CreatedDate.Date == DateTime.Today)
            {
                <div  class="col text-end">
                    <p><small>@i.CreatedDate.ToString("HH:mm")</small></P>
                </div>

            }
            else
            {   
                <div  class="col text-end">
                    <p><small>@i.CreatedDate.ToString("dd/MM/yy")</small></p>
                </div>

            }
        </div>
        <div class="fw-bold mb-2 fs-4">
            @Html.DisplayFor(p => i.Title)
        </div> 
        <div class="mb-3 fs-6">
            @Html.DisplayFor(p => i.Description)
        </div>
        @if(i.MediaPath != null)
        {
            var ext = System.IO.Path.GetExtension(i.MediaPath).ToLower();
            if (ext == ".jpg" || ext == ".jpeg" || ext == ".png" || ext == ".gif")
            {
                <div class="mb-3 d-flex justify-content-center align-items-center min-vh-10 bg-post img-fluid rounded-4">
                    <img src="@i.MediaPath" alt="Image" class="img-fluid rounded-3" style=" object-fit: contain; max-width: 650px; max-height: 650px; " />
                </div>
            }
            else if (ext == ".mp4" || ext == ".webm" || ext == ".ogg")
            {
                <div class="mb-3 d-flex justify-content-center align-items-center min-vh-10 bg-dark img-fluid rounded-4">
                    <video controls width="600" height="600">
                        <source src="@i.MediaPath" type="video/mp4"/>
                     </video>
                </div>
            }
        }

        <div class="d-flex gap-2 mb-2">
            <form method="post" asp-page-handler="Like" asp-route-id="@i.Id">
                <button id="likeBtn" type="submit" class="btn p-0 border-0 bg-transparent">
                    <img src="/imgsLayout/heart-empty.png" style="width:20px; height:20px;" />
                </button>

            </form>
            <span>@i.Likes</span>
        </div>
        @if(i.UserId == UserManager.GetUserId(User))
        {
            <div>
                <form method="post" asp-page-handler="Delete" asp-route-id="@i.Id">
                    <input type="submit" value="Excluir" class="btn-sm btn-danger btn-sm"/>
                </form> 
            </div>
        }

    </div>

    <hr />
}