@page "{id}"
@model FreeSpace.Pages.Posts.ProfileModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<FreeSpace.Models.ApplicationUser> UserManager
@{

}

<div class="d-flex mb-5 mt-4">
    <img src="@(!string.IsNullOrEmpty(Model.user.PhotoPath) ? Model.user.PhotoPath : "/userDefault.jpg")" alt="Image" class="rounded-circle me-2 align-start" style="max-width: 100px; max-height: 100px;"/>

    <div  class = "d-flex flex-column justify-content-end fs-2 ms-2">
        <span>@Model.user.UserName</span>
    </div>

    @if(Model.user?.Id == UserManager.GetUserId(User))
    {
     <div class="ms-auto">
        <a class="button-send nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Alterar dados</a>
    </div>
    }    
</div>


@if(Model.user?.Id == UserManager.GetUserId(User))
{
    <form method="post" enctype="multipart/form-data">

    <div class="row mb-1">
        <div class="col-6">
            <div class="d-flex gap-2 mb-1">
                <label asp-for="Post.Title" class="control-label me-3"></label>
                <input asp-for="Post.Title" class="form-control form-control-sm" type="text"/>
            </div>
                <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
        <div>
            <div class="mb-1">
                <label asp-for="Post.Description" class="control-label mb-2"></label>
                <textarea asp-for="Post.Description" class="form-control form-control" rows="5" type="text"></textarea>
            </div>
                <span asp-validation-for="Post.Description" class="text-danger"></span>
        </div>
        
        <div class="mb-2">
            <label asp-for="Post.Media" class="form-label"></label>
            <input asp-for="Post.Media" class="form-control form-control-sm" type="file" id="formFile">
        </div>
    </div>


    <div>
        <button type="submit" class="button-send mt-2">Postar</button>
    </div>

</form>
}

<hr class="hr"/>

@if(Model.Posts.Any())
{
    @foreach(var i in Model.Posts)
    {
    <div>
        <div class="d-flex gap-2 mb-2">
            <img src="@(!string.IsNullOrEmpty(i.User.PhotoPath) ? i.User.PhotoPath : "/userDefault.jpg")" alt="Image" class="rounded-circle me-2" style="max-width: 50px; max-height: 50px;"/>
            <p><small><b>@i.User?.UserName</b></small></p>
            @if(i.CreatedDate.Date == DateTime.Today)
            {
                <div  class="col text-end">
                    <p><small>@i.CreatedDate.ToString("HH:mm")</small></P>
                </div>

            }
            else
            {   
                <div  class="col text-end">
                    <p><small>@i.CreatedDate.ToString("dd/MM/yy")</small></p>
                </div>

            }
        </div>
        <div class="fw-bold mb-2 fs-4">
            @Html.DisplayFor(p => i.Title)
        </div> 
        <div class="mb-3 fs-6">
            @Html.DisplayFor(p => i.Description)
        </div>
        @if(i.MediaPath != null)
        {
            var ext = System.IO.Path.GetExtension(i.MediaPath).ToLower();
            if (ext == ".jpg" || ext == ".jpeg" || ext == ".png" || ext == ".gif")
            {
                <div class="mb-3 d-flex justify-content-center align-items-center min-vh-10 bg-post img-fluid rounded-4">
                    <img src="@i.MediaPath" alt="Image" class="img-fluid rounded-3" style=" object-fit: contain; max-width: 650px; max-height: 650px; " />
                </div>
            }
            else if (ext == ".mp4" || ext == ".webm" || ext == ".ogg")
            {
                <div class="mb-3 d-flex justify-content-center align-items-center min-vh-10 bg-dark img-fluid rounded-4">
                    <video controls width="600" height="600">
                        <source src="@i.MediaPath" type="video/mp4"/>
                        </video>
                </div>
            }

        }
        </div>

            <div class="d-flex gap-2 mb-2">
                <form method="post" asp-page-handler="Like" asp-route-id="@i.Id">
                    <button id="likeBtn" type="submit" class="btn p-0 border-0 bg-transparent">
                        <img src="/imgsLayout/heart-empty.png" style="width:20px; height:20px;" />
                    </button>

                </form>
                

            @if(i.UserId == UserManager.GetUserId(User))
            {
                <div class="ms-auto">
                    <form method="post" asp-page-handler="Delete" asp-route-id="@i.Id">
                        <input type="submit" value="Excluir" class="btn-sm btn-danger btn-sm"/>
                    </form> 
                </div>
            }
            </div>

        <hr class="hr"/>
    }
}
else
{
    <span>Não nada para mostrar aqui</span>
}








@* <div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.MediaPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.MediaPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Likes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Likes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Post.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
 *@